/* body {} */
a {
    text-decoration: none;

}

.decorate {
    margin: 0;
    height: 100vh;
    background-size: cover;
    background-image: url(./contactWay/img/texture.png);

}

.backImg {
    margin: 0;
    height: 100vh;
    background-size: cover;
}

.backImg1 {
    background-size: cover;
    background-image: url(./img/spring.jpg);
    /* 图片大小为567*945 */
}

.backImg2 {
    background-size: cover;
    background-image: url(./img/summer.jpg);
}

.backImg3 {
    background-size: cover;
    background-image: url(./img/autumn.jpg);
}

.backImg4 {
    background-size: cover;
    background-image: url(./img/winter.jpg);
}

/*         * {
            border: 1px solid black;
        } */
.yinYing {
    box-shadow: rgb(0 0 0 /20%) 0px 2px 1px -1px,
        rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 /12%) 0px 1px 3px 0px;
}

.flex {
    display: flex;
}

.flex1 {
    flex: 1;
}

.diSe {
    backdrop-filter: blur(10px);
    background-color: #f8f4ed5a;
    /* background-color: #7fbb8bbe; */
    /* #fbecde49 */

}

.diSe2 {
    backdrop-filter: blur(25px);
    background-color: #f8f4ed8a;
}

.btus {
    background-color: #2bae84d2;
}

.column {
    flex-direction: column;
}

.mg8 {
    margin: 8px;
}

.mgr8 {
    margin-right: 8px;
}

.mgl8 {
    margin-left: 8px;
}

.mgt8 {
    margin-top: 8px;
}

.daoHang {
    padding: 10px 20px;
    border-bottom: 1px solid #5e665b;
    font-size: 14px;
    color: #83a78d;
}

.hjz {
    text-align: center;
}

.zjz {
    align-items: center;
}

.zts {
    color: #393733;
    /* #83a78d */
}

.tbzjj {
    /* letter-spacing: 35px; */
    font-size: 36px;
}

/* 当屏幕小于800px时要改变的CSS */
@media (max-width:800px) {
    .tbzjj {
        /* letter-spacing: 15px; */
    }
}

/* 当屏幕小于600px时要改变的CSS */
@media (max-width:600px) {
    .ceBian {
        display: none;
    }

    .lieBiao {
        display: none;
    }

    .neiRong {
        flex-direction: column;
    }

    .shuJUQU {
        flex-direction: column;
    }

    .youQu {
        margin-left: 0px;
    }

    .shuju {
        margin: 0 0 8px;
        flex: auto;
    }
}

/* 当屏幕小于400px时要改变的CSS */
@media (max-width:430px) {
    .tbzjj {
        /* letter-spacing: 5px; */
        font-size: 30px;
    }
}

.neiRong::-webkit-scrollbar {
    display: none;
}